<div class="grid_9" id="container-main">
  
  <h2>
    <%=h @user %>
    <% if user_signed_in? %>
      <%= link_to 'New Sandwich', new_sandwich_path, :class => 'new-sandwich' %>
    <% end %>
  </h2>
  <% if @user.sandwiches.present? %>
    <%= render :partial => 'sandwiches/sandwiches', :locals => {:sandwiches => @user.sandwiches} %>
  <% end %>
  
</div>

<div id="users" class="grid_3">
  
  <h2>People</h2>
  <ul class="users">
    <% @users.sort_by{|u| u.login.downcase}.each do |user| %>
      <li><%= render user %></li>
    <% end if @users %>
  </ul>
  
</div>