<p><strong>Hello</strong>,</p>
  
<p>You've been invited to Sandwiches.</p>
  
<p>Sandwiches is a private invite-only music sharing site. There is only one rule: songs must be shared in sets of 3. Tiny little playlists. Short attention span DJ sets. you get the idea.</p>

<p>Right now the site is <strong>invite only</strong>. If you would like to invite a trusted friend, let me know and I will add them.</p>

<p>Please sign up with this link: <%= link_to "#{new_user_url(:invitation => @invitation.code)}", new_user_url(:invitation => @invitation.code) %>. Once you're signed up you can listen to other peoples' sandwiches by clicking songs and create your own with the New Sandwich link. It'll work best on the newest version of any browser (including apple iStuff!)</p>

<p>All the best,</p>
<p><strong>Jordan</strong></p>

<p>PS For my fellow nerds: its all open source! <%= link_to 'https://github.com/dustMason/sandwiches', 'https://github.com/dustMason/sandwiches' %></p>
