<p><strong>Hello</strong>,</p>

<p><%= @user.login %> likes your sandwich! (<%= @sandwich.name %>)</p>

<p>Go to <%= link_to 'Sandwiches', root_url %></p>

<p>Sorry if you don't want email from Sandwiches. You can easily turn them off by logging in and changing the "send me email about likes and comments" setting at the top right.</p>

<p>All the best,</p>
<p><strong>Jordan</strong></p>